<!DOCTYPE html>
<html>

<head>
    <title>Admin Login - ChapChat</title>
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script>
        var date = new Date()
        date.setTime(date.getTime() + (24*60*60*1000));

        function setAdmin() {
            document.cookie = 'pass=' + document.getElementById('pass').value + ';expires=' + date.toUTCString() + '; path=/';
        }



    </script>
</head>

<body>
<div class="container" style="min-height:100% width:80%">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span>
        </button>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}
</div>

<div class="container" style="padding-top: 50px">
    <div class="row">
        <div class="col-md-auto">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Enter admin password</h3>
                </div>
                <div class="panel-body">
                    <form method="post" name="frm-login" role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" id="pass" name="pass" placeholder="Enter Password"
                                       type="password" value="">
                            </div>
                            <button class="btn btn-lg btn-success" name="main" onclick="setAdmin()" type="submit">
                                Login
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>