<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>{{ roomName }} - ChapChats</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script>
    window.onbeforeunload = function () {
      var old;
      if (typeof $.cookie("old-nickname") !== 'undefined') {
        old = $.cookie("old-nickname")
        document.cookie = 'old-nickname=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      } else {
        old = $.cookie("realtime-chat-nickname")
      }
      socket.emit('leave', {data: {room: channel, user: old}})
    }

    var roomsDir = '/rooms/';
    var inviteDir = '/invite/';
    var channel = window.location.href.split('/').slice(4).join('/');
    var socket = io.connect(window.location.protocol + '//' + document.domain + ':' + location.port);

    window.onload = function(){
      document.getElementById('room').innerHTML = channel;
      if (channel === 'mainchat') {
        document.getElementById('photowrap').style.display = 'none';
      }
    }

    socket.on('connect', function () {
      socket.emit('set connection', { data: {message: 'I\'m connected!', room: channel, user: $.cookie("realtime-chat-nickname")} });
    });

    socket.on('disconnect', function(){
      console.log('chat disconnected');
    });

    socket.on("message", function (message) {
      refreshMessages(message);
    });

    function refreshMessages(message) {
      var $panel = $('#scrollbox');
      var shouldScroll = $panel[0].scrollHeight - $panel.height() - 31 <= $panel.scrollTop();

      if (message.data.type == "message") {
      $(".media-list").append('<li class="media"><div class="media-body"><div class="media"><div class="media-body">' + '&#60;' + message.data.user + '&#62;' + ': ' + message.data.message + '<br/></div></div></div></li>');
      $(".media-list").append('<small>' + message.data.timestamp + '</small>');
      }

      if (message.data.type == "announcement") {
      $(".media-list").append('<li class="media"><div class="media-body"><div class="media"><div class="media-body" style="color:red;">' + '&#60;' + message.data.message + '&#62;' + '<br/></div></div></div></li>');
      $(".media-list").append('<small style="color:red;">' + message.data.timestamp + '</small>');
      }

      if (message.data.type == "announcement photo") {
      $(".media-list").append('<li class="media"><div class="media-body"><div class="media"><div class="media-body" style="color:red;">' + '&#60;' + '<img src="' + message.data.photo + '" width="300" height="300" onclick="showFull(this)"/>' + '&#62;' + '<br/></div></div></div></li>');
      $(".media-list").append('<small style="color:red;">' + message.data.timestamp + '</small>');
      }

      if (message.data.type == "photo") {
      $(".media-list").append('<li class="media"><div class="media-body"><div class="media"><div class="media-body">' + '&#60;' + message.data.user + '&#62;' + ': ' + '<img src="' + message.data.photo + '" width="300" height="300" onclick="showFull(this)"/>' + '<br/></div></div></div></li>');
      $(".media-list").append('<small>' + message.data.timestamp + '</small>');
      }

      if (shouldScroll) {
        $panel.scrollTop($panel[0].scrollHeight);
      }

    }

    $(function () {

      if (typeof $.cookie("realtime-chat-nickname") === 'undefined') {
        window.location = "/login"
      } else {
        $("#sendMessage").on("click", function () {
          sendMessage()
        });

        $('#messageText').keyup(function (e) {
          if (e.keyCode == 13) {
            sendMessage();
          }
        });
      }

      function sendMessage() {
        $container = $('.media-list');
        $container[0].scrollTop = $container[0].scrollHeight;
        var user = $.cookie("realtime-chat-nickname");
        var photo = document.getElementById('photo').files[0];
        if (typeof photo === "undefined") {
          var message = $("#messageText").val();
          socket.emit('message', { data: { message: message, user: user, room: channel} });
          $("#messageText").val("");
        } else {
          var reader = new FileReader();
          reader.onload = function(evt){
              var msg = evt.target.result;
              socket.emit('photo', { data: { photo: msg, user: user, room: channel} });
          };
          reader.readAsDataURL(photo);
          previewImg();
        }
        $('#scrollbox').stop().animate({scrollTop: $('#scrollbox').get(0).scrollHeight}, "fast");
      }
    })

    function leaveRoom() {
      $.cookie("old-nickname", $.cookie("realtime-chat-nickname"));
      document.cookie = 'realtime-chat-nickname=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      window.location.reload()
    }

    function previewImg() {
      if (document.getElementById('remimg').style.display === 'none') {
        document.getElementById('remimg').style.display = '';
        document.getElementById('preview').style.display = '';
        document.getElementById('preview').src = window.URL.createObjectURL(document.getElementById('photo').files[0])
      } else {
        document.getElementById('remimg').style.display = 'none';
        document.getElementById('preview').style.display = 'none';
        document.getElementById('preview').src = '#'
        document.getElementById("photo").value = "";
      }
    }

    function showFull(e) {
      if (e.height === 300 && e.width === 300) {
        e.height = 500;
        e.width = 500;
      } else {
        e.height = 300;
        e.width = 300;
      }
    }

    function shareLink() {
      try{
        navigator.share({
          title: 'Share a link to this chatroom',
          text: 'Join this chatroom now!',
          url: window.location.protocol + '//' + document.domain + inviteDir + channel
        })
      } catch(err) {
        var tmp = document.createElement('input');
        document.body.appendChild(tmp);
        tmp.value = window.location.protocol + '//' + document.domain + inviteDir + channel
        tmp.select();
        document.execCommand("copy", false);
        tmp.remove();
        document.getElementById('share').innerHTML = '✓ Invite Link Copied';
        setTimeout(function(){
            document.getElementById('share').innerHTML = 'Share Invite Link';
        }, 3000);
      }
    }

     $(function(){
        $(".dropdown-menu li a").click(function(){
          var length = document.getElementById('userDropdown').offsetWidth;
          document.getElementById('userDropdown').innerHTML = $(this).text()
          document.getElementById('userDropdown').style.width = length + 'px';
        });
     });

     function kickUser() {
        if (document.getElementById('userDropdown').innerHTML !== 'Select a user') {
        socket.emit('kick user', {data: {kick: document.getElementById('userDropdown').innerHTML, user: $.cookie("realtime-chat-nickname"), room: channel, key: $.cookie("room-key")}});
        }
        document.getElementById('userDropdown').innerHTML = 'Select a user'
     }


    </script>
    <style type="text/css">
    .fixed-panel {
      min-height: 500px;
      max-height: 500px;
    }

    .media-list {
      overflow: auto;
    }

    input[type="file"] {
      display: none;
    }

    @media (max-width: 420px) {
      .btn-sm {
        padding:4px;
      }
    }


    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <h3 class="text-center">ChapChats</h3>
        <div id="chatbox">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong id="room"></strong>
                    <span style="display:inline-block; width: 5px;"></span>
                    <div>
                        <button class="btn btn-info btn-sm" id="share" onclick="shareLink()"
                                style="display:{{ invites }}">Share Invite Link
                        </button>
                        <button class="btn btn-sm btn-danger" name="leave" onclick="leaveRoom()">Leave Room</button>
                        <div class="dropdown pull-right" style="display:{{ roomLeader }};" id="kick screen">
                            <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="userDropdown"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select a user
                            </button>
                            <ul class="dropdown-menu dropdown-primary" style="height:200px;overflow-y:auto;">
                                {% for person in people %}
                                <li><a class="dropdown-item" name="{{ person }}" style="word-wrap: break-word;">{{
                                    person }}</a></li>
                                {% endfor %}
                            </ul>
                            <button class="btn btn-primary btn-sm" id="kickUser" onclick="kickUser()">Kick User</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body fixed-panel" style="max-height: 10;overflow-y: scroll;" id="scrollbox">
                    <ul class="media-list">
                    </ul>
                </div>
                <div class="panel-footer">
                    <input type="text" class="form-control" placeholder="Enter Message" id="messageText" autofocus/>
                    <label for="photo" class="btn btn-info" id="photowrap">
                        <input type="file" id="photo" accept=".jpg, .jpeg, .png" onchange="previewImg(this)">
                        Upload an image
                    </label>
                    <button class="btn btn-info" type="button" id="sendMessage" style="margin:5px;">SEND <span
                            class="glyphicon glyphicon-send"></span></button>
                    <img id="preview" src="#" width="100" height="100" style="display: none;margin:5px;">
                    <button id="remimg" class="btn btn-info" onclick="previewImg(this)"
                            style="display: none;margin:5px;">Remove Image
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>