{% extends "layout.html" %}

{% block title %}
Main Page
{% endblock %}

{% block body %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>

<div class="container">
  <div class="jumbotron mb-2">
    <h1 class="display-4">ChatBox</h1>
    <p class="lead">The coolest chatroom there is.</p>
  </div>
  <p id="hello-user" class="h3 my-0">Are you new here? Give yourself a name!</p>

  <div id="user-submission-div">
    <form id="new-user-form">
      <div>
        <input id="username-input" autocomplete="off" type="text" autofocus placeholder="Enter username...">
        <button class="btn-primary" id="login_submit_button" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <p id="username-taken" class="text-danger"></p>
</div>

<div class="container" id="chatroom" data-channels="{{ channels|safe|tojson }}">
  <div class="row">
    <div class="col-4 solid-line-right solid-line-top">
      <div class="row">
        <form id="new-channel-form" class="form-inline">
          <div class="col-12 ml-2 my-2">
            <input id="new-channel-input" autocomplete="off" type="text" autofocus placeholder="Create a new channel.">
            <button class="btn-primary" id="new-channel-button" type="submit">Create</button>
          </div>
        </form>
      </div>

      <div class="row row-height-fixed">
        <div class="col-12">
          <div class="btn-group-vertical ml-2 my-2" role="group" id="channel-button-list">
            {% for channel in channels %}
            <button class="btn btn-secondary" id="{{ channel }}" name="channel-button" type="submit">{{ channel }}
              {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- This is where the message box is. -->
    <div class="col-8 pre-scrollable" role="group" id="messages-list">
    </div>

  </div>

  <div class="form-row align-items-right my-2">
    <div class="col-4">
    </div>

    <div class="col-8">
      <form id="submit-message-form">
        <input type="text" class="form-control" placeholder="Say something..." id="submit-message-input">
      </form>
    </div>
  </div>
</div>


{% endblock %}