<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Password Reset - ChapChat</title>
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
    //function setName() {
      //$.cookie("realtime-chat-nickname", $("#nickname").val());
      //document.cookie = "realtime-chat-nickname=" + $("#nickname").val() + ";path=/";
    //}



    </script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static',filename='styles/stylesheet.css') }}" rel="stylesheet" type="text/css">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>

<body>

<div class="container" style="min-height:100% width:80%">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span>
        </button>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}
</div>

<div class="container" style="padding-top: 50px">
    <div class="row">
        <div class="col-md-auto">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Change admin password</h3>
                </div>
                <div class="panel-body">
                    <form method="post" name="frm-login" role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" id="newpass" name="newpass"
                                       placeholder="Enter New Admin Password" type="password">
                                <br>
                                <input class="form-control" id="confirmpass" name="confirmpass"
                                       placeholder="Confirm New Admin Password" type="password">
                            </div>
                            <button class="btn btn-lg btn-success" name="main" type="submit">Change Admin Password
                            </button>
                            <button class="btn btn-lg btn-info" onclick="location.href='/admin'" type="button">Return to
                                admin login
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>